<?xml version="1.0" encoding="utf-8"?>
<manifest package="csc207.flightapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SearchForFlights"
            android:label="@string/search_flights_header"/>
        <activity
            android:name=".UserLogin"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSearchedFlights"
            android:label="@string/flight_results_header"/>
        <activity
            android:name=".EditClientInfo"
            android:label="@string/edit_info_header"/>
        <activity
            android:name=".BookItineraries"
            android:label="@string/book_itineraries_header"/>
        <activity
            android:name=".AdminMenu"
            android:label="@string/admin_menu_header">
        </activity>
        <activity android:name=".Upload"
            android:label="@string/upload_data_header">
        </activity>
        <activity android:name=".SearchForClients"
            android:label="@string/search_for_clients_header">
        </activity>
        <activity
            android:name=".BookForClient"
            android:label="@string/title_activity_book_for_client">
        </activity>
        <activity
            android:name=".ViewBooked"
            android:label="@string/view_bookings_of_client_header">
        </activity>
    </application>

</manifest>
